
h3{
    text-shadow: 1px 1px;
    font-family: pacifico;
    color: white;
}
.sad{
    border-style: solid;
}
.sad img{
    border: 2px dashed #000;
    box-shadow: -4px 11px 40px 0px rgba(209,46,46,0.75);
-webkit-box-shadow: -4px 11px 40px 0px rgba(209,46,46,0.75);
-moz-box-shadow: -4px 11px 40px 0px rgba(209,46,46,0.75);
}
ins{
    color: brown;
}