@font-face{
    font-family: ;
}
h3{
    text-shadow: 1px 1px;
    font-family: pacifico;
    color: white;
}
.sad{
    border-style: solid;
}
ins{
    color: brown;
    font-style: normal
    font-family: ;
}